.about
  overflow: auto
  background-color: $catalina-blue
  color: $white

  @media $desktop
    min-height: 550px
    background-image: url("../img/image-doctor.png")
    background-position: calc(50% - 400px) bottom
    background-repeat: no-repeat

  &__text
    margin-top: 30px
    margin-bottom: 30px
    color: $white
    text-align: center
    font(18px, 24px, 400, uppercase)

    @media $tablet
      font(22px, 32px)

    @media $desktop
      padding-left: 28.6%
      text-align: left
      font(26px, 36px)

      &:first-of-type
        margin-top: 50px

      &:last-of-type
        margin-bottom: 50px

  &__list
    list-style-type: none

    @media $desktop
      padding: 0 200px
      padding-left: 35.7%

  &__item
    position: relative
    margin-bottom: 30px
    padding-left: 55px
    opacity: 0.95

    &::before
      position: absolute
      top: 50%
      left: 0
      display: block
      width: 43px
      height: 43px
      border-radius: 50%
      background-color: $catalina-blue
      background-image: url("../img/list-point.png")
      content: ""

      transform: translateY(-50%)

    @media $tablet
      font(18px, 22px, 300)

    @media $desktop
      font(20px, 25px, 300)
