.btn
  padding: 15px 60px
  border: none
  border-radius: 5px
  background-color: $toledo
  background-image: linear-gradient(to bottom, $strikemaster 0, $toledo 100%)
  color: $white
  font(24px, 24px, 400, uppercase)
  cursor: pointer

  @media $desktop
    &:hover
      background-image: linear-gradient(to bottom, lighten($strikemaster, 10%) 0, lighten($toledo, 10%) 100%)
