.btn
  padding: 15px 44px
  border: none
  border-radius: 5px
  background-image: linear-gradient(to bottom, $strikemaster 0, $toledo 100%)
  color: $white
  font(24px, 24px, 400, uppercase)

  cursor: pointer
