.features
  overflow: auto
  background-image: linear-gradient(to top, $linen 0, $dawn-pink 100%)

  @media $desktop
    background-image: url("../img/background-splash-1.png"), linear-gradient(to top, $linen 0, $dawn-pink 100%)
    background-size: cover
    background-repeat: no-repeat

  &__accent
    color: $carmine

  &__text
    margin-top: 30px
    margin-bottom: 30px
    color: $mine-shaft
    text-align: center
    font(18px, 24px, 600, uppercase)

    @media $tablet
      font(22px)

    @media $desktop
      margin: 50px auto
      max-width: 1100px
      font(26px, 36px)

  &__desc
    text-align: center

  &__list
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 15px
    list-style-type: none
    font(16px, 24px, 400)

    @media $tablet
      font(18px)

    @media $desktop
      flex-direction: row
      justify-content: space-around
      margin-bottom: 50px
      font(22px, 26px)

  &__item
    margin-bottom: 15px

    @media $desktop
      margin-bottom: 0

  &__picture
    position: relative
    margin: auto
    margin-bottom: 15px
    width: 192px
    height: 192px

    &::after
      position: absolute
      bottom: 0
      left: 0
      display: block
      width: 50px
      height: 50px
      border-radius: 50%
      background-color: $bleached-cedar
      color: $white
      text-align: center
      font(24px, 50px, 400)

    &--num-1
      background-image: url("../img/features-picture-1.png")

      &::after
        content: "1."

    &--num-2
      background-image: url("../img/features-picture-2.png")

      &::after
        content: "2."

    &--num-3
      background-image: url("../img/features-picture-3.png")

      &::after
        content: "3."
