.page-header
  background-color: $pot-pourri
  background-image: linear-gradient($almond 0, $pot-pourri 50%, $dawn-pink 100%)

  &__visit
    display: none

  &__hgroup
    margin-bottom: 50px
    padding: 20px
    background-color: $catalina-blue
    color: $white
    text-align: center

  &__title
    font(24px, 38px)

  &__note
    font(28px, 37px, 600)

  &__inner
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  &__wrapper
    margin-top: 30px
    text-align: center

  &__motto
    margin-top: 20px
    margin-bottom: 15px
    text-transform: none
    width: 300px
    height: 92px
    background-image: url("../img/text-motto.png")
    background-position: top center
    background-size: contain
    background-repeat: no-repeat
    font-size: 0
