.regform
  width: 320px
  height: 320px
  border-top: 1px solid transparent
  border-radius: 50%
  background-color: $vanilla-ice

  &__form
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  &__title
    margin: auto
    margin-top: 25px
    margin-bottom: 20px
    width: 255px
    color: $paprika
    text-align: center
    font(23px, 34px)

  &__city
    text-decoration: underline

  &__name
  &__tel
    margin-bottom: 20px
    padding: 0 15px
    width: 250px
    height: 30px
    border: none
    border-radius: 5px
    color: $scorpion
    font(13px, 37px, 400, uppercase)
