.review
  &__title
    margin-top: 30px
    margin-bottom: 30px
    color: $mine-shaft
    text-align: center
    font(18px, 24px, 400, uppercase)

  &__list
    display: flex
    flex-direction: column
    list-style-type: none

  &__text
    position: relative
    margin-bottom: 30px
    padding: 30px
    border-radius: 5px
    background-image: linear-gradient(to top, $we-peep, $forget-me-not)
    box-shadow: 0 2px 2px 0 rgba($black, 0.25)

  &__triangle
    position: absolute
    bottom: -50px
    left: 50px
    width: 50px
    height: 50px

  &__wrapper
    margin-bottom: 30px
