.timer
  min-width: 280px
  text-align: center

  &--malibu
    padding: 10px
    padding-bottom: 2px
    border-radius: 5px
    background-color: $malibu

  &__title
    margin-bottom: 10px
    color: $mine-shaft
    text-align: center
    text-transform: none
    font(24px, 30px, 600)

  &__block
    display: inline-block
    margin-right: 4px

    &:last-of-type
      margin-right: 0

  &__cell
    display: inline-block
    margin-right: 3px
    width: 30px
    height: 40px
    border-radius: 5px
    background-color: $white
    color: $paprika
    text-align: center
    font(23px, 40px, 600)

  &__text
    color: $mine-shaft
    text-align: center
    text-transform: lowercase
    font(17px, 31px)
