@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
}
@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: "Open Sans";
  src: url("../fonts/opensanssemibold.woff") format("woff"), url("../fonts/opensanssemibold.woff2") format("woff2");
}
body {
  font-family: "Open Sans", "Arial", sans-serif;
}
h1,
h2,
h3 {
  font-weight: 400;
  text-transform: uppercase;
}
body,
figure,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
figure,
ul {
  padding: 0;
}
.about {
  overflow: auto;
  background-color: #032d6e;
  color: #fff;
}
.about__text {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.about__list {
  list-style-type: none;
}
.about__item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 55px;
  opacity: 0.9;
}
.about__item::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #032d6e;
  background-image: url("../img/list-point.png");
  content: "";
  transform: translateY(-50%);
}
.btn {
  padding: 15px 44px;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #8b507e 0, #2e0124 100%);
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
}
.container {
  margin: auto;
  padding: 0 30px;
  max-width: 1400px;
}
.features {
  overflow: auto;
  background-image: linear-gradient(to top, #fae7e0 0, #f4ebe9 100%);
}
.features__accent {
  color: #a60023;
  font-weight: 600;
}
.features__text {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #363636;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.features__desc {
  text-align: center;
}
.features__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  font-size: 16px;
  line-height: 24px;
}
.features__item {
  margin-bottom: 30px;
}
.features__picture {
  position: relative;
  margin: auto;
  margin-bottom: 15px;
  width: 192px;
  height: 192px;
}
.features__picture::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #33223a;
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
}
.features__picture--num-1 {
  background-image: url("../img/features-picture-1.png");
}
.features__picture--num-1::after {
  content: "1.";
}
.features__picture--num-2 {
  background-image: url("../img/features-picture-2.png");
}
.features__picture--num-2::after {
  content: "2.";
}
.features__picture--num-3 {
  background-image: url("../img/features-picture-3.png");
}
.features__picture--num-3::after {
  content: "3.";
}
.page-header {
  background-color: #f4e7e3;
  background-image: linear-gradient(#f4dcd6 0, #f4e7e3 50%, #f4ebe9 100%);
}
.page-header__visit {
  display: none;
}
.page-header__hgroup {
  margin-bottom: 50px;
  padding: 20px;
  background-color: #032d6e;
  color: #fff;
  text-align: center;
}
.page-header__title {
  font-size: 24px;
  line-height: 38px;
}
.page-header__note {
  font-size: 28px;
  font-weight: 600;
  line-height: 37px;
}
.page-header__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-header__wrapper {
  margin-top: 30px;
  text-align: center;
}
.page-header__motto {
  margin-top: 20px;
  margin-bottom: 15px;
  text-transform: none;
  width: 300px;
  height: 92px;
  background-image: url("../img/text-motto.png");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
}
.problems {
  overflow: auto;
  background-image: linear-gradient(to bottom, #f7d0ca 0, #d19e99 100%);
}
.problems__text {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #363636;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.problems__list {
  color: #363636;
  list-style-type: none;
  font-size: 16px;
  line-height: 24px;
}
.problems__item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 50px;
}
.problems__item::before {
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #6fa7fc;
  content: "";
  transform: translateY(-50%);
}
.problems__item:nth-of-type(2n) {
  padding-left: 100px;
}
.problems__item:nth-of-type(2n)::before {
  left: 65px;
}
.regform {
  width: 320px;
  height: 320px;
  border-top: 1px solid transparent;
  border-radius: 50%;
  background-color: #f1cde6;
}
.regform__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.regform__title {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 20px;
  width: 255px;
  color: #920231;
  text-align: center;
  font-size: 23px;
  line-height: 34px;
}
.regform__city {
  text-decoration: underline;
}
.regform__name,
.regform__tel {
  margin-bottom: 20px;
  padding: 0 15px;
  width: 250px;
  height: 30px;
  outline-color: #2e0124;
  border: none;
  border-radius: 5px;
  color: #736166;
  font-size: 13px;
  line-height: 37px;
  text-transform: uppercase;
}
.review__title {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #363636;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.review__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.review__text {
  position: relative;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 5px;
  background-image: linear-gradient(to top, #f7dad9, #fff3ef);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
}
.review__triangle {
  position: absolute;
  bottom: -50px;
  left: 50px;
  width: 50px;
  height: 50px;
}
.review__wrapper {
  margin-bottom: 30px;
}
.timer__title {
  margin-bottom: 10px;
  text-align: center;
  text-transform: none;
  font-size: 24px;
  line-height: 30px;
}
.timer__block {
  display: inline-block;
  margin-right: 4px;
}
.timer__block:last-of-type {
  margin-right: 0;
}
.timer__cell {
  display: inline-block;
  margin-right: 3px;
  width: 30px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  color: #920231;
  font-size: 23px;
  font-weight: 600;
  line-height: 40px;
}
.timer__text {
  color: #363636;
  text-align: center;
  text-transform: lowercase;
  font-size: 17px;
  line-height: 31px;
}
.visually-hidden {
  display: none;
}
