$almond = #f4dcd6
$azalea = #f7d0ca
$bleached-cedar = #33223a
$carmine = #a60023
$catalina-blue = #032d6e
$dawn-pink = #f4ebe9
$eunry = #d19e99
$linen = #fae7e0
$malibu = #6fa7fc
$mine-shaft = #363636
$paprika = #920231
$pot-pourri = #f4e7e3
$scorpion = #736166
$strikemaster = #8b507e
$tangaroa = #02122b
$toledo = #2e0124
$vanilla-ice = #f1cde6
$white = #ffffff
